packrat/lib*/
data/raw/converted_sound_files_90_kHz
.httr-oauth
.Rproj.user
data/processed/non_duplicated_peaks
data/processed/mfcc_detection
output
output/fixed_detections_inquiry_calls.RDS
data/processed/averaged_random_forest_models_from_solo_flights_sp-mfcc-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_sp-mfcc-xcor.RDS
data/processed/averaged_random_forest_models_from_solo_flights_sp-mfcc-xcor-dtw.RDS
output/NOISE_fixed_detections_inquiry_calls.RDS
output/peaks_9.RDS
output/detection_xcorr_9.RDS
img/catalog_pred_test_no_calls/Catalog.pdf
img/catalog_pred_test_no_calls_OLD/Catalog_no_calls.pdf
output/peaks_6.RDS
output/detection_xcorr_6.RDS
output/peaks_4.RDS
output/detection_xcorr_4.RDS
output/peaks_2.RDS
output/peaks_1.RDS
output/detection_xcorr_2.RDS
output/detection_xcorr_1.RDS
output/peaks_3.RDS
output/detection_xcorr_3.RDS
data/processed/averaged_random_forest_models_from_solo_flights_dtw.RDS
output/peaks_5.RDS
output/detection_xcorr_5.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc.RDS
output/peaks_7.RDS
output/detection_xcorr_7.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-xcor.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-xcor-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_xcor-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-xcor-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-xcor-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_xcor.RDS
data/processed/averaged_random_forest_models_from_solo_flights_xcor-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_xcor-sp.RDS
data/processed/spectral_parameters_test_data.csv
output/peaks_10.RDS
output/detection_xcorr_10.RDS
output/peaks_8.RDS
output/detection_xcorr_8.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfxc-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-spxc.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-mfxc.RDS
data/processed/averaged_random_forest_models_from_solo_flights_spxc-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-spxc-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-mfxc-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-spxc-mfxc-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfxc.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-spxc-mfxc.RDS
data/processed/averaged_random_forest_models_from_solo_flights_spxc-mfxc-dtw.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-mfxc-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-spxc-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-mfxc-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-spxc-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_spxc-mfxc.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-spxc-mfxc-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfcc-spxc-mfxc-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfxc-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_spxc.RDS
data/processed/averaged_random_forest_models_from_solo_flights_spxc-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_spxc-mfxc-dtw-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_spxc-mfxc-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_mfxc-sp.RDS
data/processed/averaged_random_forest_models_from_solo_flights_spxc-sp.RDS
CALLS_fixed_detections_inquiry_calls_2021.RDS
average_models_random_forest_all_groups_best_parameter_combination.RDS
*.MP4
fixed_detections_inquiry_calls.RDS
fixed_detections_inquiry_calls_2021.RDS
*.mp4
data/processed/simulated_data_entry_time_models.RDS
data/processed/individual_gaps_solo_vs_group_random_slope.rds
data/processed/curated_extended_selection_table_inquiry_calls_2020_&_2021.RDS
data/processed/random_forest_model_best_acoustic_parameter_set_2020_&_2021.RDS
